@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#Login{
    top:10vh;
    color:navy;
    font-family: 'Roboto', sans-serif !important;
}

.loginH1{
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 7vh;
}

input[type="text"],input[type="password"]{
    border: none;
    background:  #ebedef ;
    font-size: 1.12rem;
    border-radius:20px;
    padding: 5px;
}

#loginButton{
    border:none;
    background-color: navy;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}



/* Mobile View*/
@media only screen and (max-width: 650px) {
    #Login{
        top:20vh;
    }
    .loginH1{
        font-size:2.5rem;
        margin-bottom: 2.5vh;
        font-weight: 500;
    }

    #loginForm{
        padding: 10%;
    }
}  