@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

.loginH1{
    font-family: 'Arvo', serif;
    margin-top: 15px;
}

.container{
    padding: 10% 5% 15% 5%;
}

#Message{
    height: 50px;
    width: 100%;
}
