@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
a{
text-decoration:none !important;}

#Login{
    top:10vh;
    color:navy;
    font-family: 'Roboto', sans-serif !important;
}

.loginH1{
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 7vh;
}
#login{
    height: 100vh !important;
}
input[type="text"],input[type="password"],input[type="email"]{
    border: none;
    background:  #ebedef ;
    font-size: 1.12rem;
    border-radius:20px;
    padding: 5px;
}

#loginButton,#addUser{
    border:none;
    background-color: navy;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
}

.addUser{
    left:10vw;
}

.addUser button{
    margin-right: 25vw !important;
}

.homeBadge{
    height: 30px;
    width: 30px;
    line-height: 20px;
    font-size: 15px;
    border-radius: 50%;
}

.homeRow{
    padding: 10px;
    background-color: #9b9999;
    border: 2px solid #fff;
}

.roomBadge{
    height:30px;
    width:30px;
    border-radius: 20px;
    line-height: 3px;
    margin-right: 10px;
    text-align: center;
    padding-right: 23px;
}

.loader
        {
            width: 50px;
            height: 50px;
            border: 7px solid #999999;
            border-top: 7px solid navy;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin
        {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        } 
 .loaderDiv .loader, .loaderText{
     visibility: hidden;
 }       
/* Mobile View*/
@media only screen and (max-width: 700px) {
    #Login{
        top:20vh;
    }
    .loginH1{
        font-size:2.5rem;
        margin-bottom: 2.5vh;
        font-weight: 500;
    }

    #loginForm{
        padding: 10%;
    }

    .addUser{
        left: 0;
    }
    .userType{
        display:inline-flex;
    }
    .rBtn{
        margin-left: 25px;
    }

    .ml4{
        margin-right: 10px;
    }

    .roomBadge{
        height: 20px;
        width: 20px;
        padding-right: 20px;
    }

    .rBtn3{
        margin-right: 50vw;
    }
}  
