*{
margin: 0;
padding: 0;
font-family:"Roboto";
}
.inst{
    .inst-details {
        // border: 2px solid blue;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .lsgd {
            max-width: 22rem;
            .sbmt-btn{
                text-align: right;
                button{
                    background-color: rgb(16, 76, 243);
                    color:white;
                }
            }
        }

        .inst-only {
            .inst-type {
                display: flex;
                flex-wrap: wrap;
            }
            
        }
        
    }
    h1{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
    }
}
