#AdminNav{
    background-color:slateblue;
    width:100vw;
    height:10vh;
    margin: 0 !important;
    padding:0 !important ;
    position: absolute;
}

#AdminName{
    color:white;
    width:17vw;
    line-height: 10vh;
    text-align: center;
    vertical-align: middle;
    margin-left: 73vw !important;
    padding:0 !important;
    position: absolute;
}
#AdminLogoutButton{
    padding:0 !important;
    position: absolute;
    width:8vw;
    height:8vh;
    margin-left: 90vw !important;
    margin-top: 1vh;
}

#Tabbar{
    width:15vw;
    color:black;
    height:90vw !important;
    margin-top: 10vh;
    position: absolute;
}
.TabButton{
    line-height: 10vh;
    background-color: slategray;
    text-align: center;
    color:white
}

#TabWindow{
    width:85vw;
    margin-left: 15vw;
    margin-top:10vh;
    position: absolute;
}